

<!DOCTYPE html>
<html>
  <head> 

    <title> Rendering a HTML Page </title>

  </head>
  <body>

    <p>  This is the person page of our Django project. </p>
    <h2> Person Information </h2>
    <ul>
      {% for person in persons %}
        <a href = "{%  url 'person_display' person.id   %}"> Name: {{ person.name }}, Age: {{ person.age }}, Occupation: {{ person.occupation }} </a>
        <br>
      {% endfor %}
    </ul>

    
     
    <a href = "{% url 'index' %}"> Go back to Home Page </a>


  







  
  </body>
</html>

